@import 'variables';

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $fontFamily;
	line-height: $lineHeight;
	font-size: $fontSize;
}

.title-main {
	font-size: 1.75rem;
	margin-bottom: 1.375rem;
	text-align: center;
	text-transform: capitalize;

	&:after {
		background-color: #ddd;
		content: '';
		display: block;
		height: 1px;
		margin-top: 1.25rem;
		width: 100%;
	}
}
